/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

@import "./header.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* Use inheritance rather than applying style via universal selectors */
  box-sizing: inherit;
}

:root {
  --gray: #777;
  --green-light: #7ed56f;
  --green-light-80: rgba(126, 213, 111, 0.8);
  --green-medium: #55c57a;
  --green-dark: #28b485;
  --green-dark-80: rgba(40, 180, 133, 0.8);
  --white: #fff;
  --gray: #777;
}

html {
  /* Setting font-size in pixels is a bad practice */
  /* This will hinder with the settings of people who would like to set their own user stylesheet and set their default font-size */
  /* Hence, specify in percentage */
  /* font-size: 10px; */
  /* The child lengths (padding, width, margin, etc) and font-sizes should use rem to refer to this value*/
  font-size: 62.5%;
}

/* Everything related to the font should either be applied to the body or html */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* 1.7 times bigger than the predefined line-height */
  line-height: 1.7;
  color: var(--gray);
  padding: 3rem;
  box-sizing: border-box;
}
